.desktop { background-image: url('../images/background5.png'); background-position: bottom right; background-repeat: no-repeat; background-color: #161616 !important; }

.icon-cog { background-image: url('../images/icons/cog.png'); }