.desktop { background-image: url('../images/background.png'); background-position: center; background-repeat: no-repeat; background-color: #000 !important; }

.icon-cog { background-image: url('../images/icons/cog.png'); }